{{ partial "header.html" . }}

{{ partial "preloader.html" . }} 

{{ partial "navigation.html" . }}

{{ partial "page-title.html" . }}

{{ partial "about-sm.html" . }}

<!-- {{ partial "philosophy.html" . }} -->

<!-- {{ partial "team.html" . }} -->

<section class="team section bg-gray">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <h3>Area 22 Toastmasters Clubs</h3>
            <ul>
              <li><a href="https://4880.toastmastersclubs.org/">Gallatin Valley Toastmasters</a></li>
              <li><a href="https://6715.toastmastersclubs.org/">Golden Word Toastmasters Club</a></li>
              <li><a href="https://livingston.toastmastersclubs.org/">Last Word Toastmasters Club</a></li>
              <li><a href="https://2415211.toastmastersclubs.org/">Mountains and Minds @ Montana State University</a></li>
              <li><a href="https://www.toastmasters.org/Find-a-Club/02174109-toastmasters-of-montana-state-university-msu">Toastmasters
                  of Montana State University</a></li>
                        </ul>
        </div>
  
        <div class="col-12 col-md-6 col-lg-6">
          <h3>Area 23 Toastmasters Clubs</h3>
          <ul>
            <li><a href="https://3175.toastmastersclubs.org/">Big Sky Toastmasters</a></li>
            <li><a href="https://6619.toastmastersclubs.org/">Bozeman Gold</a></li>
            <li><a href="https://fourcornerz.toastmastersclubs.org/">Four Cornerz Toastmasters</a></li>
            <li><a href="https://libertybzn.toastmastersclubs.org/">Liberty Toastmasters Bozeman</a></li>
            <li><a href="https://www.toastmasters.org/Find-a-Club/02912927-the-speakers-connection">The Speakers Connection</a></li>
            <li><a href="https://www.toastmasters.org/Find-a-Club/05021591-top-shelf-toastmasters">Top Shelf Toastmasters</a></li>
          </ul>
      </div>
    </div>
  </div>
  </section>
  
{{ partial "cta.html" . }}

{{ partial "footer.html" . }}

