{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about }}
    {{ if .enable }}
    {{ "<!-- About Section Start -->" | safeHTML }}
    <section class="about section-sm" id="schedule">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="title text-center">
                      
                          <h2>Schedule</h2>
                          <span class="border"></span>
                      
                      
                  </div>
              </div>
          </div>

          <div class="row justify-content-center">
              <div class="col">
                  <table class="table-schedule table table-striped">
                    <thead>
                      <tr>
                        <th>Time</th>
                        <th>Event</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr><td>8:30 a.m.</td><td> Doors Open - Registration<br/>

                    Meet the Clubs<br/>
                  
                    Pathways Help Desk  -     Bill Dobler
                  
                  </td></tr><tr><td>9:00 a.m.</td><td> 
                    
                    <ul>

                        <li>
                          Opening Ceremonies       Joe Moriarty 
                        
                          </li>
                          <li>
                            Keynote   -        Bridget Wilkinson
                            
                          </li>
                          <li>
                            Turning the Terror into Triumph: Making Public Speaking Work for You - Darin Oelkers
                            
                          </li>
                          <li>
                            
                            The Power of Pathways  -     Monte Sterling
                          </li>
                    </ul>
                  
                  
                  
                  
                  </td></tr><tr><td>9:35 a.m.</td><td>  Break
                  
                  </td></tr><tr><td>9:45 a.m.</td><td>  Breakout 1
                  
                  <ul>
                  <li>
                     Speaking From Your True Self - Lori Marchak
                  </li>
                  <li>
                     Playing With Your Voice -   Kath Crumrine
                  </li>
                  <li>
                     Pathways Help Desk   -  Bill Dobler/Charlie Siebenga 
                  </li>
                  </ul>
                  
                  </td></tr><tr><td>10:35 a.m.</td><td> Break
                  
                  </td></tr><tr><td>10:45 a.m.</td><td>  Breakout 2
                  <ul>
                  <li>
                     Speaking From Your True Self - Lori Marchak
                  </li>
                  <li>
                     Playing With Your Voice -   Kath Crumrine
                  </li>
                  <li>
                     Pathways Help Desk   -  Bill Dobler/Charlie Siebenga 
                  </li>
                  </ul>
                  
                  
                  
                  </td></tr><tr><td>11:35 a.m.</td><td> Break
                  
                  </td></tr><tr><td>11:45 a.m.</td><td> Leadership Adventure Challenge  - Tom Stenzel
                  
                  </td></tr><tr><td>12:20 p.m.</td><td> Leadership Qualities Explored: 
                  
                    Toastmaster Officer Breakout Sessions with Area Coaches
                  
                  </td></tr><tr><td>12:50 p.m.</td><td> Closing Ceremonies - Joe Moriarty
                  
                  </td></tr><tr><td>1:00 p.m.  - 1:30 p.m.</td><td> Meet the Clubs <br>
                  
                       Pathways Help Desk
                       </td></tr></tbody>
                       </table>
            </div>
          </div>
          
      </div>
  </section>
    <section class="about section-sm" id="about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        <h4>Presentations</h4>
                        
                            <h2>Presentations and Workshops</h2>
                            <span class="border"></span>
                        
                        
                    </div>
                </div>
            </div>
            {{ range .item }}
                {{ if .positionRight }}
                    <div class="row mt-50 justify-content-center">
                        <div class="col-md-5 col-md-5 col-sm-12 offset-md-1">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    <strong>{{ .author }}</strong><br/>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-sm-12 text-center">
                            <img src="{{ .image }}" class="img-fluid rounded shadow" alt="about-image">
                        </div>
                    </div>
                {{ else }}
                    <div class="row mb-50 justify-content-center">
                        <div class="col-md-5 col-sm-12 text-center offset-md-1">
                            <img src="{{ .image }}" class="img-fluid rounded shadow" alt="about-image">
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    <strong>{{ .author }}</strong><br/>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
    {{"<!-- About section End -->" | safeHTML}}
    {{ end }}
{{ end }}
