{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/scMd0prB-P4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {{ with .Site.Params.hero.videoCaption }}
              </div>
                <p class="video-caption">{{ . | markdownify }}</p>
            {{ end }}
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Params.hero.heading }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                    {{ with .Site.Params.hero.subtitle }}
                        <p class="text-uppercase " style="font-weight: 700;">{{ . | markdownify  }}</p>
                    {{ end }}
                    {{ with .Site.Params.hero.description | markdownify }}
                        <p>{{ . }}</p>
                    {{ end }}
                    {{ if .Site.Params.hero.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .Site.Params.hero.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.hero.btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }}
                    <br/>{{ with .Site.Params.aboutSm.footnote }}
                <p class="text-center"><small>{{ . }}</small></p>
            {{ end }}
                </div>
            </div>
        </div>
    </div>
    <a href="#about" class="scroll-to"><span class="tf-ion-chevron-down"><span class="sr-only">Scroll</span></span></a>
</section>
{{ end }}